* {
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    background: url(https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?cs=srgb&dl=pexels-fabian-wiktor-994605.jpg&fm=jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    margin: 1.2rem auto;
}

body h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
}

body > p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

#survey-form {
    width: 60%;
    margin: 1.2rem auto;
    height: auto;
    border-radius: 4%;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(255, 255, 255, .3);
    text-align: left;
    padding: 1% 0%;
}

#survey-form > .content-class {
    margin: 1.2rem 2.5rem;
}

#survey-form label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

#survey-form > .content-class > #submit{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], input[type=email], input[type=number], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=radio], input[type=checkbox] {
    padding: 14px 20px;
    margin: 8px 0px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
}

input[type=submit]:hover {
    background-color: #45A049;
}

  /* RESPONSIVE */

  /* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) { 

 }
 
/* Móviles en horizontal o tablets en vertical*/
@media (max-width: 767px) {

    body h1 {
        font-size: 4rem;
    }
    
    body > p {
        font-size: 2rem;
    }

    #survey-form {
        width: 60%;
        margin: 1.5rem auto;
        border-radius: 2%;
    }

    #survey-form > .content-class {
        margin: 1rem 2rem;
    }

    #survey-form label {
        font-size: 1.2rem;
    }

 }
 
/* Móviles en vertical */
@media (max-width: 480px) {
   
    body h1 {
        font-size: 3rem;
    }
    
    body > p {
        font-size: 1rem;
    }

    #survey-form {
        width: 80%;
        margin: 1rem auto;
        border-radius: 1%;
    }

    #survey-form > .content-class {
        margin: 1rem 2rem;
    }

    #survey-form label {
        font-size: 1rem;
    }
 }